.contactform{
    margin: 20px;
  }
  
  input{
    margin-bottom: 5px;
    height: 20px;
    border: 1px solid #d8d8d8;
    padding: 3px;
  }
  
  textarea{
    border: 1px solid #d8d8d8;
    padding: 3px;
  }
  
  button{
    padding: 10px;
    border: 1px solid #d8d8d8;
    background-color: #f9f9f9;
    border-radius: 3px;
  }
  
  .error{
    margin-left: 5px;
    font-size: 13px;
    color: red;
  }

  .padding{
      padding: 20px;
  }

  .text-align{
    text-align: center;
  }

  .m-l-100{
    margin-left: 100px;
  }
  .m-l-30{
    margin-left: 30px !important;
  }